@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
@use 'var';

@function makeColor($args...) {
  $kwargs: meta.keywords($args);
  $rgb: false; $hsl: false;
  $hasAlpha: map.has-key($kwargs, 'alpha') or list.length($args) == 4;
  @if not $rgb and not $hsl {
    @each $property in map.keys($kwargs) {
      @if list.index(var.$RGB, $property) {
        $rgb: true;
      } @else if list.index(var.$HSL, $property) {
        $hsl: true;
      }
    }
  }

  @if $rgb and $hsl {
    @error 'Both RGB and HSL arguments supplied: #{$kwargs}';
  }

  @if not $rgb and not $hsl {
    $rgb: true; $i: 1;
    @while $rgb and $i <= list.length($args) {
      $a: list.nth($args, $i);
      @if not (meta.type-of($a) == 'number' and umath.is-unitless($a)) {
        $rgb: false; $hsl: true;
      }
    }
  }

  @if $rgb {
    @if $hasAlpha {
      @return rgba($args...);
    } @else {
      @return rgb($args...);
    }
  } @else {
    @if $hasAlpha {
      @return hsla($args...);
    } @else {
      @return hsl($args...);
    }
  }
}
